@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,html{
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.bggradinet{
   /* background: rgb(254,83,187);  
  background: linear-gradient(135deg, rgba(254,83,187,0.3) 40%, rgba(9,251,211,0.3) 100%);  */
  background: url(./assets/images/Background.png) transparent no-repeat top;
  /* background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */
  width: 100%;
}

.textWhite{
 color:  rgba(255, 255, 255, 0.85);
}

.bordergradient{
  border: 3px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, #19191B, #19191B), 
    linear-gradient(to right, #FE53BB , #09FBD3); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box; 
  /* background-blend-mode: overlay; */
  position: relative;
}

.bordergradient2{
  border: 3px solid transparent;
  border-radius: 50%;
  background: 
    linear-gradient(to right, #19191B, #19191B), 
    linear-gradient(to right, #FE53BB , #09FBD3); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box; 
  position: absolute;
}

.bordergradient::after,.bordergradient2::after{
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(104.74deg, rgba(254, 83, 187, 0.5) 25.73%, rgba(9, 251, 211, 0.5) 66.52%);
  filter: blur(30px);
  border-radius: 20px;
  z-index: 2;
}



.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 15) !important;
  margin-bottom: 62px !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #08F7FE !important;
}

.shop-page{
  width: 100%;
  height: 100vh;
  background: url(./assets/images/Backgroundshoppage.svg) center no-repeat transparent;
}

.searchbar{
  background: rgba(118, 118, 128, 0.12);
}

.bottom-navigation{
  position: fixed;
  bottom: 0;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  background: url(./assets/images/Backgroundshoppage.svg) center repeat-y;
  /* background-color: red; */
  border-top: 2px solid rgba(255, 255, 255, 0.062);
  z-index: 5;
}


.bottom-navigation::after{
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  /* background: url(./assets/images/Backgroundshoppage.svg) center no-repeat ; */
}

.productInfo::after{
  position: absolute;
  bottom: 152px;
  content: "";
  width: 100%;
  height: 20px;
  background-color: #19191b05;
  box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.986);
  z-index: 3;
}